# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.env

# SQLite / Database
*.db
*.db-journal
*.sqlite3
backend/data/
projects.db

# Node / React
node_modules/
dist/
.eslintcache
.DS_Store
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
